@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.text {
  position: relative;
  font-family: "Poppins", sans-serif;
  color: #f6d8d5;
  background-image: radial-gradient(#f6d8d5);
  font-size: 40px;
}
.text::before {
  content: attr(data-text);
  position: absolute;
  top: 0em;
  left: 0em;
  color: #313f97;
  z-index: -1;
  transition: 0.2s;
}
.text:hover::before {
  top: 0.04em;
  left: 0.04em;
}
.text::after {
  content: attr(data-text);
  position: absolute;
  color: transparent;
  top: 0em;
  left: 0em;
  background-image: radial-gradient(
    rgba(236, 34, 37, 0.5) 0.0125em,
    transparent 0.0125em
  );
  background-size: 8px 8px;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-stroke: 1px #ec2225;
  transition: 0.2s;
}
.text:hover::after {
  top: -0.04em;
  left: -0.04em;
}

.blog_profile {
  padding: 0 10px;
  border-radius: 50%;
}

.flex-comment {
  display: flex;
  gap: 30px;
  align-items: center;
  margin-bottom: 40px;
}

.commentWidth {
  flex-grow: 1;
}

.description {
  display: -webkit-box; /* Required for the -webkit-line-clamp property */
  -webkit-line-clamp: 3; /* Limits the text to 3 lines */
  -webkit-box-orient: vertical; /* Required for the -webkit-line-clamp property */
  overflow: hidden; /* Hides the overflow text */
  text-overflow: ellipsis; /* Adds ellipsis (...) at the end */
}

